.background {

    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
background: #606c88; /* Old browsers */
background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #776c99 0%,#5fef9b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */


}   

.center-box {
    width: 20%;
    height: 44vh;
    margin-top: 15vh;
    background-color: #232323;
    position: relative;
    margin-left: 40%;
    padding-top: 2%;
}

.logo{
    margin:auto;
    background-image: url("note.png");
    background-size: cover;
    min-height:18vh;
    min-width: 18vh;    
    max-height:18vh;
    max-width: 18vh;
    border-radius: 0%;
    border: 0px black solid;
}

.log-in-box{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #2C2F33;
}

.log-in-box:hover{
    background-color: #23272A;
    cursor: pointer;
}

.upload-box{
    margin-top: 15%;
    background-color: #2C2F33;
}

.log-in-text{
    
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size:150%;
    color: #FFEEFF;
    line-height: 10vh;
    text-align: center;
}

.auth-text{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
  font-size:120%;
    color: white;
}

input,textarea,select,button {
    border:none;
    height: 3vh;
    margin-left: 30%;
    margin-top: 3%;
    width:40%;
    font: "Trebuchet MS", Helvetica, sans-serif;
    font-size:110%;

}

input:hover,textarea:hover,select:hover,button:hover{
    border: 3px black solid;
}

.list-holder {

    margin: auto;
    margin-left: 16%;
    margin-top: 4%;
    width: 80%;
}

.list-header{

    font: "Trebuchet MS", Helvetica, sans-serif;
    font-size:170%;
    color: white;

}

.list{

    font: "Trebuchet MS", Helvetica, sans-serif;
    color: white;

}

.list li{
    font: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    font-size: 120%;
    list-style-type: square;
    line-height: 120%;
}
