<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="/static/index.css">
    </head>
    <body class="background">
        <div class = "center-box">
            <div class="logo"></div>
            <div class="auth-text-box">
                <p class="auth-text">Hello! In order to upload a song for the bot to play, you will have to authenticate through Discord below.</p>
            </div>
            <div class="auth-text-box log-in-box" onclick="window.location.href = 'http://localhost:5000/verify';"> 
                    <p class="log-in-text"><u>Log in with Discord</u></p>
            </div>

        </div>
    </body>
</html>